
.navbar {
    background: #35D1BC;
    border: 2px solid #35D1BC;
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
}
.container h2 {
    color: #2E6C5E;
}
table .th{
    font-weight: bold;
}
.container p {
    display: inline;
    color: red;
    font-weight: bolder;
}
